<!-- Experience -->
<section id="portfolio" class="section-experience pt-5">
    <div class="container">
        <div class="rounded-3 border border-1 position-relative overflow-hidden">
            <div class="box-linear-animation position-relative z-1">
                <div class="p-lg-8 p-md-6 p-3 position-relative z-1">
                    <div class="d-flex align-items-center">
                        <svg class="text-primary-2 me-2" xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                            <circle cx="2.5" cy="3" r="2.5" fill="#A8FF53" />
                        </svg>
                        <span class="text-linear-4 d-flex align-items-center"> Expericence </span>
                    </div>
                    <h3>
                        +1
                        <span class="text-300">years of </span>
                        passion
                        <span class="text-300">
                            for <br />
                            programming techniques
                        </span>
                    </h3>
                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <div class="d-flex flex-column gap-2">
                                <a href="https://www.codepolitan.com/" target="_blank" class="technology border border-1 rounded-3 p-3">
                                    <div class="d-flex align-items-center gap-2">
                                        <img class="codepolitans" src="assets/imgs/home-page-2/experience/codepolitan.png" alt="zelio" />
                                        <div class="d-flex flex-column ms-2">
                                            <h5 class="mb-1">Codepolitan</h5>
                                            <span class="text-300">2023 - 2024</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 ps-lg-5 mt-5 mt-lg-0">
                            <h6 class="text-linear-4">Full-Stack Developer Training</h6>
                            <ul class="mt-4">
                                <li class="text-dark mb-3">Developed an Shooping Cart system using Vue.js and Express.Js.</li>
                                <li class="text-dark mb-3">Developed a RESTful API system using Node.Js and Express.Js.</li>
                                <li class="text-dark mb-3">Developed a secure authentication system using Node.Js.</li>
                                <li class="text-dark mb-3">Implemented authentication and authorization for endpoints.</li>
                                <li class="text-dark mb-3">Responsive web design for various platforms using Bootstrap.</li>
                            </ul>
                            <div class="d-flex flex-wrap align-items-center gap-3 mt-7">
                                <a href="#" class="text-300 border border-1 px-3 py-1">NodeJS</a>
                                <a href="#" class="text-300 border border-1 px-3 py-1">MongoDB</a>
                                <a href="#" class="text-300 border border-1 px-3 py-1">Vue.Js</a>
                                <a href="#" class="text-300 border border-1 px-3 py-1">Express.Js</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="position-absolute top-0 start-0 z-0" src="assets/imgs/home-page-2/services/bg.png" alt="zelio" />
            </div>
        </div>
    </div>
</section>
