<!-- coporation -->
<section class="section-coporation">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="rounded-3 border border-1 position-relative overflow-hidden">
                    <div class="box-linear-animation">
                        <div class="p-lg-8 p-md-6 p-3">
                            <div class="d-flex align-items-center">
                                <svg class="text-primary-2 me-2" xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                                    <circle cx="2.5" cy="3" r="2.5" fill="#A8FF53" />
                                </svg>
                                <span class="text-linear-4 d-flex align-items-center"> Cooperation </span>
                            </div>
                            <!-- <s> <h3 class="fw-medium">Trusted by innovative companies and bootcamps</h3></s> -->
                            <div class="my-5 border border-1 rounded-2 p-3">
                                <!-- Carausel Scroll -->
                                <div class="carouselTicker carouselTicker-left position-relative z-1">
                                    <ul class="carouselTicker__list m-0">
                                        <!-- <li><img style="width: 120px;" src="../../../assets/imgs/coporation/codepolitans.png" alt="" /></li>
                                        <li><img style="width: 80px;" src="../../../assets/imgs/coporation/hackerrank-svgrepo-com.svg" alt="" /></li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                                <div class="">
                                    <div class="circle-1 position-relative z-0">
                                        <div class="circle-2 position-absolute top-50 start-50 translate-middle z-1">
                                            <div class="position-absolute top-50 start-50 translate-middle z-2">
                                                <img class="w-100 h-100 rounded-circle" src="assets/imgs/home-page-2/hero-1/peopleD.jpeg" alt="zelio" />
                                                <svg class="text-primary-2 position-absolute bottom-0 end-0" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 5 6" fill="none">
                                                    <circle cx="2.5" cy="3" r="2.5" fill="#A8FF53" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column gap-2">
                                    <a href="#">
                                        <i class="ri-phone-fill"></i>
                                        <span class="text-300">[phone] <span class="text-secondary-2">+62895383178326</span></span>
                                    </a>
                                    <a href="#">
                                        <i class="ri-mail-fill"></i>
                                        <span class="text-300">[email] <span class="text-secondary-2">hilmimubarokdeni@gmail.com</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="position-absolute d-none d-md-block decorate">
                            <div class="rotateme">
                                <div class="circle-1-1"></div>
                                <div class="circle-1-2 position-absolute top-50 start-50 translate-middle">
                                    <svg class="mb-5 position-absolute bottom-0 start-0" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                        <circle cx="4.5" cy="4.5" r="4.5" fill="#636366" />
                                    </svg>
                                </div>
                                <div class="circle-1-3 position-absolute top-50 start-50 translate-middle ">
                                    <svg class="mb-3 position-absolute bottom-0 end-0" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                        <circle cx="4.5" cy="4.5" r="4.5" fill="#636366" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-lg-0 pt-5">
                <div class="bg-3 rounded-3 border border-1 p-md-6 p-3 position-relative h-100 overflow-hidden">
                    <div class="d-flex align-items-center">
                        <svg class="text-primary-2 me-2" xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
                            <circle cx="2.5" cy="3" r="2.5" fill="#A8FF53" />
                        </svg>
                        <span class="text-linear-4 d-flex align-items-center"> Git Journaling </span>
                    </div>
                    <div class="h-100 position-relative">
                        <ul class="ps-3 d-flex flex-column justify-content-around h-100 position-relative">
                            <li class="position-relative z-1">
                                <div class="d-flex align-items-center gap-2">
                                    <p class="text-300 text-nowrap">Jun 2025:</p>
                                    <span class="text-dark"> User-Management-RESTful-API</span>
                                </div>
                            </li>
                            <li class="position-relative z-1">
                                <div class="d-flex align-items-center gap-2">
                                    <p class="text-300 text-nowrap">Mar 2025:</p>
                                    <span class="text-dark"> E-Wallet-system-with-bcrypt-authentication</span>
                                </div>
                            </li>
                            <li class="position-relative z-1">
                                <div class="d-flex align-items-center gap-2">
                                    <p class="text-300 text-nowrap">Jun 2025:</p>
                                    <span class="text-dark">Web-Movie-App-System-With-API</span>
                                </div>
                            </li>
                            <li class="position-relative z-1">
                                <div class="d-flex align-items-center gap-2">
                                    <p class="text-300 text-nowrap">Jun 2025:</p>
                                    <span class="text-dark">E-Learning-System-Vue.Js</span>
                                </div>
                            </li>
                        </ul>
                        <div class="line-left position-absolute border-start z-0"></div>
                    </div>
                    <div class="bg-overlay position-absolute bottom-0 start-0 z-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>
