<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-logo">
            <a class="d-flex main-logo align-items-center d-inline-flex" href="index.html">
                <img src="assets/imgs/footer-1/logo.svg" alt="zelio" />
                <span class="fs-4 ms-2 text-dark">DMH</span>
            </a>
            <div class="burger-icon burger-icon-white border rounded-3">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav>
                        <ul class="mobile-menu font-heading ps-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="#about">About me</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#resume">Resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#services">Services</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio">Portfolio</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
